<h3>Sign up as doctor</h3>

<%= form_for(@doctor) do |f| %>

    <br><%= f.label "specialization" %>
    <br><%= f.select :specialization, ['therapist', 'surgeon', 'cardiologist', 'ophtalmologist'], {}, id:'specialization'%> 
 
  
  <%= f.fields_for :user do |u| %>
  		
      <br><%= u.label :name %>
      <br><%= u.text_field :name %>
     
      
  		<br><%= u.label :email %>
			<br><%= u.text_field :email %>
  	
  			
  		<br><%= u.label :password %>
			<br><%= u.text_field :password %>
  	
  		<br><%= u.label :password_confirmation %>
			<br><%= u.text_field :password_confirmation %>
  	
  	<% end %>  

    <br>	
  		
    <br><%= f.submit "Submit", :class=>"btn btn-success" %>

<% end %>
